<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
<h2>Create a New Listing</h2>

<form method="POST" action="/listings"
 novalidate class="needs-validation"
 enctype="multipart/form-data"
 >
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" 
               placeholder="Add a catchy title" 
               type="text" 
               class="form-control" 
               required  />
               <div class="valid-feedback">Title good like</div>
               
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control"
        required ></textarea>
    </div>
    
    <!-- <div class="mb-3">
        <label for="image" class="form-label">Image link</label>
        <input name="listing[image][url]" 
               placeholder="Enter image URL / Link" 
               type="text" 
               class="form-control">
    </div> -->
    <div class="mb-3">
        <label for="image" class="form-label"> Upload Listing image</label>
        <input name="listing[image]" 
               type="file" 
               class="form-control"/>required
    </div>

    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" 
                   placeholder="1200" 
                  type="text"
                   class="form-control" required />
                   <div class="invalid-feedback">price is write a number</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" 
                   placeholder="India" 
                   type="text" 
                   class="form-control" required></div>
    </div>
    
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" 
               placeholder="patna,India" 
               type="text" 
               class="form-control">
    </div>
    
    <button class="btn btn-dark add-btn mt-3">Add</button>
</form>
</div>
</div>
